# Phpstorm
.idea

.composer
vendor/*
!*/vendor/*
composer.lock
.DEBUG

# OS Generated
.DS_Store*
humbs.db
Icon?
Thumbs.db
*.swp


*/__cache*

logs
!logs/.gitkeep

data/*
!data/.gitkeep

!data/accounts
data/accounts/*
!data/accounts/.gitkeep

!data/config
data/config/*
!data/config/.gitkeep

tmp/*
!tmp/.gitkeep

themes/*
!themes/default
themes/default/node_modules
themes/default/scss/core
themes/default/js/core



