
{% if flash.getMessage('info') %}
<div class="alert alert-info" id="flash-message">
    {{ flash.getMessage('info') | first }}
</div>
{% endif %}

{% if flash.getMessage('warning') %}
    <div class="alert alert-warning" id="flash-message">
        {{ flash.getMessage('warning') | first }}
    </div>
{% endif %}

{% if flash.getMessage('success') %}
    <div class="alert alert-success" id="flash-message">
        {{ flash.getMessage('success') | first }}
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="alert alert-danger" id="flash-message">
        {{ flash.getMessage('error') | first }}
    </div>
{% endif %}

